<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myorder</title>
</head>

<body>
    <div class="container">
        <p>owner_name:{{ownername}}</p><br>
        <p>owner_phone:{{ownerphone}}</p><br>
        <p>owner_email:{{ownermail}}</p><br>
        <p>owner_property:{{property}}</p><br>
        <p>customer_name:{{cusname}}</p> <br>
        <p>customer_phone:{{cusphn}}</p><br>
        <p>customer_email:{{cusmail}}</p><br>


    </div>

</body>

</html>